<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DomainMapping" type="MiniHttpServer.Config.DomainMappingSection, MiniHttpServer"/>
  </configSections>
  <appSettings>
    <add key="serverPort" value="80"/>
  </appSettings>
  <DomainMapping>
    <mapping domain="www.random.org" path="wwwroot/Random" home="index.html"/>
  </DomainMapping>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>