<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="timeout" value="60000" />
    <add key="top_asin_head" value="MARKETPLACE_ID	GL_PRODUCT_GROUP	GL_PRODUCT_GROUP_DESC	CATEGORY_DESC	SUBCATEGORY_DESC	ASIN	ITEM_NAME	BRAND_NAME	ORDERED_GMS_USD_TTM	FBA_ORDERED_GMS_USD_TTM	ORDERED_UNITS_TTM	FBA_ORDERED_UNITS_TTM	ASP	GMS_RANK	GLANCE_VIEW_COUNT_TTM	UNITS_CONVERSION_RATE" />
    <add key="top_asin_delimited" value="	" />
    <add key="top_asin_map" value="MARKETPLACE_ID,MARKETPLACE_ID;GL_PRODUCT_GROUP,GL_PRODUCT_GROUP;GL_PRODUCT_GROUP_DESC,GL_PRODUCT_GROUP_DESC;CATEGORY_DESC,CATEGORY_DESC;SUBCATEGORY_DESC,SUBCATEGORY_DESC;ASIN,ASIN;ITEM_NAME,ITEM_NAME;BRAND_NAME,BRAND_NAME;ORDERED_GMS_USD_TTM,ORDERED_GMS_USD_TTM;FBA_ORDERED_GMS_USD_TTM,FBA_ORDERED_GMS_USD_TTM;ORDERED_UNITS_TTM,ORDERED_UNITS_TTM;FBA_ORDERED_UNITS_TTM,FBA_ORDERED_UNITS_TTM;ASP,ASP;GMS_RANK,GMS_RANK;GLANCE_VIEW_COUNT_TTM,GLANCE_VIEW_COUNT_TTM;UNITS_CONVERSION_RATE,UNITS_CONVERSION_RATE" />
    <add key="top_asin_table" value="top_asin" />
    <add key="top_seller_head" value="GL_PRODUCT_GROUP	GL_PRODUCT_GROUP_DESC	MARKETPLACE_ID	MERCHANT_CUSTOMER_ID	MERCHANT_FRIENDLY_NAME	REGISTERED_MERCHANT_CLASS	CURRENT_MERCHANT_STATUS	LAUNCH_DAY	IS_FBA	IS_RETAIL	FBA_LAUNCH_DATE	OPPORTUNITY_OWNER	SF_COUNTRY_OF_ORIGIN	OFFERING_COUNT	FBA_OFFERING_COUNT	GCID_SELLER	ORDERED_GMS_USD_TTM	FBA_ORDERED_GMS_USD_TTM	ORDERED_UNITS_TTM	FBA_ORDERED_UNITS_TTM	ASP	GMS_RANK" />
    <add key="top_seller_delimited" value="	" />
    <add key="top_seller_map" value="GL_PRODUCT_GROUP,GL_PRODUCT_GROUP;GL_PRODUCT_GROUP_DESC,GL_PRODUCT_GROUP_DESC;MARKETPLACE_ID,MARKETPLACE_ID;MERCHANT_CUSTOMER_ID,MERCHANT_CUSTOMER_ID;MERCHANT_FRIENDLY_NAME,MERCHANT_FRIENDLY_NAME;REGISTERED_MERCHANT_CLASS,REGISTERED_MERCHANT_CLASS;CURRENT_MERCHANT_STATUS,CURRENT_MERCHANT_STATUS;LAUNCH_DAY,LAUNCH_DAY;IS_FBA,IS_FBA;IS_RETAIL,IS_RETAIL;FBA_LAUNCH_DATE,FBA_LAUNCH_DATE;OPPORTUNITY_OWNER,OPPORTUNITY_OWNER;SF_COUNTRY_OF_ORIGIN,SF_COUNTRY_OF_ORIGIN;OFFERING_COUNT,OFFERING_COUNT;FBA_OFFERING_COUNT,FBA_OFFERING_COUNT;GCID_SELLER,GCID_SELLER;ORDERED_GMS_USD_TTM,ORDERED_GMS_USD_TTM;FBA_ORDERED_GMS_USD_TTM,FBA_ORDERED_GMS_USD_TTM;ORDERED_UNITS_TTM,ORDERED_UNITS_TTM;FBA_ORDERED_UNITS_TTM,FBA_ORDERED_UNITS_TTM;ASP,ASP;GMS_RANK,GMS_RANK" />
    <add key="top_seller_table" value="top_seller" />
    <add key="top_brand_head" value="GL_PRODUCT_GROUP	GL_PRODUCT_GROUP_DESC	MARKETPLACE_ID	BRAND_NAME	ORDERED_GMS_USD_TTM	FBA_ORDERED_GMS_USD_TTM	ORDERED_UNITS_TTM	FBA_ORDERED_UNITS_TTM	ASP	GMS_RANK" />
    <add key="top_brand_delimited" value="	" />
    <add key="top_brand_map" value="GL_PRODUCT_GROUP,GL_PRODUCT_GROUP;GL_PRODUCT_GROUP_DESC,GL_PRODUCT_GROUP_DESC;MARKETPLACE_ID,MARKETPLACE_ID;BRAND_NAME,BRAND_NAME;ORDERED_GMS_USD_TTM,ORDERED_GMS_USD_TTM;FBA_ORDERED_GMS_USD_TTM,FBA_ORDERED_GMS_USD_TTM;ORDERED_UNITS_TTM,ORDERED_UNITS_TTM;FBA_ORDERED_UNITS_TTM,FBA_ORDERED_UNITS_TTM;ASP,ASP;GMS_RANK,GMS_RANK" />
    <add key="top_brand_table" value="top_brand" />
    <add key="top_subcategory_head" value="MARKETPLACE_ID	GL_PRODUCT_GROUP	GL_PRODUCT_GROUP_DESC	CATEGORY_DESC	SUBCATEGORY_DESC	ORDERED_GMS_USD_TTM	FBA_ORDERED_GMS_USD_TTM	ORDERED_UNITS_TTM	FBA_ORDERED_UNITS_TTM	ASP	GMS_RANK" />
    <add key="top_subcategory_delimited" value="	" />
    <add key="top_subcategory_map" value="MARKETPLACE_ID,MARKETPLACE_ID;GL_PRODUCT_GROUP,GL_PRODUCT_GROUP;GL_PRODUCT_GROUP_DESC,GL_PRODUCT_GROUP_DESC;CATEGORY_DESC,CATEGORY_DESC;SUBCATEGORY_DESC,SUBCATEGORY_DESC;ORDERED_GMS_USD_TTM,ORDERED_GMS_USD_TTM;FBA_ORDERED_GMS_USD_TTM,FBA_ORDERED_GMS_USD_TTM;ORDERED_UNITS_TTM,ORDERED_UNITS_TTM;FBA_ORDERED_UNITS_TTM,FBA_ORDERED_UNITS_TTM;ASP,ASP;GMS_RANK,GMS_RANK" />
    <add key="top_subcategory_table" value="top_subcategory" />
    <add key="mover_shaker_asin_head" value="MARKETPLACE_ID	GL_PRODUCT_GROUP	GL_PRODUCT_GROUP_DESC	CATEGORY_DESC	SUBCATEGORY_DESC	ASIN	ITEM_NAME	BRAND_NAME	ORDERED_GMS_USD_LAST4WK	INCREASED_GMS_LAST4WK	INCREASED_PERCENT	FBA_ORDERED_GMS_USD_LAST4WK	ORDERED_UNITS_LAST4WK	FBA_ORDERED_UNITS_LAST4WK	ASP	INCREASED_GMS_RANK" />
    <add key="mover_shaker_asin_delimited" value="	" />
    <add key="mover_shaker_asin_map" value="MARKETPLACE_ID,MARKETPLACE_ID;GL_PRODUCT_GROUP,GL_PRODUCT_GROUP;GL_PRODUCT_GROUP_DESC,GL_PRODUCT_GROUP_DESC;CATEGORY_DESC,CATEGORY_DESC;SUBCATEGORY_DESC,SUBCATEGORY_DESC;ASIN,ASIN;ITEM_NAME,ITEM_NAME;BRAND_NAME,BRAND_NAME;ORDERED_GMS_USD_LAST4WK,ORDERED_GMS_USD_LAST4WK;INCREASED_GMS_LAST4WK,INCREASED_GMS_LAST4WK;INCREASED_PERCENT,INCREASED_PERCENT;FBA_ORDERED_GMS_USD_LAST4WK,FBA_ORDERED_GMS_USD_LAST4WK;ORDERED_UNITS_LAST4WK,ORDERED_UNITS_LAST4WK;FBA_ORDERED_UNITS_LAST4WK,FBA_ORDERED_UNITS_LAST4WK;ASP,ASP;INCREASED_GMS_RANK,INCREASED_GMS_RANK" />
    <add key="mover_shaker_asin_table" value="mover_shaker_asin" />
    <add key="mover_shaker_brand_head" value="MARKETPLACE_ID	GL_PRODUCT_GROUP	GL_PRODUCT_GROUP_DESC	BRAND_NAME	ORDERED_GMS_USD_LAST4WK	INCREASED_GMS_LAST4WK	INCREASED_PERCENT	FBA_ORDERED_GMS_USD_LAST4WK	ORDERED_UNITS_LAST4WK	FBA_ORDERED_UNITS_LAST4WK	ASP	INCREASED_GMS_RANK" />
    <add key="mover_shaker_brand_delimited" value="	" />
    <add key="mover_shaker_brand_map" value="MARKETPLACE_ID,MARKETPLACE_ID;GL_PRODUCT_GROUP,GL_PRODUCT_GROUP;GL_PRODUCT_GROUP_DESC,GL_PRODUCT_GROUP_DESC;BRAND_NAME,BRAND_NAME;ORDERED_GMS_USD_LAST4WK,ORDERED_GMS_USD_LAST4WK;INCREASED_GMS_LAST4WK,INCREASED_GMS_LAST4WK;INCREASED_PERCENT,INCREASED_PERCENT;FBA_ORDERED_GMS_USD_LAST4WK,FBA_ORDERED_GMS_USD_LAST4WK;ORDERED_UNITS_LAST4WK,ORDERED_UNITS_LAST4WK;FBA_ORDERED_UNITS_LAST4WK,FBA_ORDERED_UNITS_LAST4WK;ASP,ASP;INCREASED_GMS_RANK,INCREASED_GMS_RANK" />
    <add key="mover_shaker_brand_table" value="mover_shaker_brand" />
    <add key="top_asin_with_limited_match_head" value="MARKETPLACE_ID	GL_PRODUCT_GROUP	GL_PRODUCT_GROUP_DESC	CATEGORY_DESC	SUBCATEGORY_DESC	ASIN	ITEM_NAME	BRAND_NAME	OFFER_COUNT	ORDERED_GMS_USD_TTM	FBA_ORDERED_GMS_USD_TTM	ORDERED_UNITS_TTM	FBA_ORDERED_UNITS_TTM	ASP	GMS_RANK	GLANCE_VIEW_COUNT_TTM	UNITS_CONVERSION_RATE" />
    <add key="top_asin_with_limited_match_delimited" value="	" />
    <add key="top_asin_with_limited_match_map" value="MARKETPLACE_ID,MARKETPLACE_ID;GL_PRODUCT_GROUP,GL_PRODUCT_GROUP;GL_PRODUCT_GROUP_DESC,GL_PRODUCT_GROUP_DESC;CATEGORY_DESC,CATEGORY_DESC;SUBCATEGORY_DESC,SUBCATEGORY_DESC;ASIN,ASIN;ITEM_NAME,ITEM_NAME;BRAND_NAME,BRAND_NAME;OFFER_COUNT,OFFER_COUNT;ORDERED_GMS_USD_TTM,ORDERED_GMS_USD_TTM;FBA_ORDERED_GMS_USD_TTM,FBA_ORDERED_GMS_USD_TTM;ORDERED_UNITS_TTM,ORDERED_UNITS_TTM;FBA_ORDERED_UNITS_TTM,FBA_ORDERED_UNITS_TTM;ASP,ASP;GMS_RANK,GMS_RANK;GLANCE_VIEW_COUNT_TTM,GLANCE_VIEW_COUNT_TTM;UNITS_CONVERSION_RATE,UNITS_CONVERSION_RATE" />
    <add key="top_asin_with_limited_match_table" value="top_asin_with_limited_match" />
    <add key="top_conversion_rate_head" value="MARKETPLACE_ID	GL_PRODUCT_GROUP	GL_PRODUCT_GROUP_DESC	CATEGORY_DESC	SUBCATEGORY_DESC	ASIN	ITEM_NAME	BRAND_NAME	GLANCE_VIEW_COUNT_TTM	ORDERED_GMS_USD_TTM	FBA_ORDERED_GMS_USD_TTM	ORDERED_UNITS_TTM	FBA_ORDERED_UNITS_TTM	ASP	UNITS_CONVERSION_RATE	GMS_RANK" />
    <add key="top_conversion_rate_delimited" value="	" />
    <add key="top_conversion_rate_map" value="MARKETPLACE_ID,MARKETPLACE_ID;GL_PRODUCT_GROUP,GL_PRODUCT_GROUP;GL_PRODUCT_GROUP_DESC,GL_PRODUCT_GROUP_DESC;CATEGORY_DESC,CATEGORY_DESC;SUBCATEGORY_DESC,SUBCATEGORY_DESC;ASIN,ASIN;ITEM_NAME,ITEM_NAME;BRAND_NAME,BRAND_NAME;GLANCE_VIEW_COUNT_TTM,GLANCE_VIEW_COUNT_TTM;ORDERED_GMS_USD_TTM,ORDERED_GMS_USD_TTM;FBA_ORDERED_GMS_USD_TTM,FBA_ORDERED_GMS_USD_TTM;ORDERED_UNITS_TTM,ORDERED_UNITS_TTM;FBA_ORDERED_UNITS_TTM,FBA_ORDERED_UNITS_TTM;ASP,ASP;UNITS_CONVERSION_RATE,UNITS_CONVERSION_RATE;GMS_RANK,GMS_RANK" />
    <add key="top_conversion_rate_table" value="top_conversion_rate" />
    <add key="asin_url" value="http://www.amazon.com/gp/product/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="db" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.10.173)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCL)));User ID=amazon_analyzer;Password=dbwork" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>